
/* Your CSS Code here. */
.main{
	width:200px;
	background-color: purple;
	border-left-width:5px;
	border-left-color:green;
    padding:10px;
}
#heading{
	color:white;
	font-size:20px;
	text-decoration:underline;
	}
